@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Inter, system-ui, sans-serif;
	}

	body {
		min-height: 100vh;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		@apply font-bold;
		@apply my-4;
	}

	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-lg;
	}

	h5 {
		@apply text-base;
	}

	a {
		@apply text-blue-600 underline;
	}

	ul {
		@apply list-disc list-inside;
	}

	ol {
		@apply list-decimal list-inside;
	}

	code {
		@apply bg-gray-100 px-1 rounded-md;
	}

	.hljs {
		@apply rounded-md text-sm;
	}
}

.inset-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

[contenteditable='true']:empty:not(:focus):before {
	content: attr(data-placeholder);
	color: #9ca3af;
}
