@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Inter, system-ui, sans-serif;
	}

	body {
		min-height: 100vh;
	}
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
	@apply font-bold my-4;
}

.markdown h1 {
	@apply text-3xl;
}

.markdown h2 {
	@apply text-2xl;
}

.markdown h3 {
	@apply text-xl;
}

.markdown h4 {
	@apply text-lg;
}

.markdown h5 {
	@apply text-base;
}

.markdown a {
	@apply text-blue-600 underline;
}

.markdown ul {
	@apply list-disc list-inside;
}

.markdown ol {
	@apply list-decimal list-inside;
}

.markdown code {
	@apply bg-gray-100 px-1 rounded-md;
}

.markdown .hljs {
	@apply rounded-md text-sm;
}

.inset-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

[contenteditable='true']:empty:not(:focus):before {
	content: attr(data-placeholder);
	color: #9ca3af;
}

.markdown img {
	@apply w-2/3 mx-auto rounded-sm;
}
